<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="container">
        <!-- header -->
        <%- include('../partials/header')%>

            <!-- Add item(s) to the list -->
            <main class="sec-elements-list">
                <!-- <h1 class="page-header-list-name"><%= newListItem.name_list %></h1> -->
                <h1 class="page-header-list-name"><%= listName %></h1>
                <section class="sec-insert-items-to-list">
                    <form action="/"  class="item" method="post">
                        <input type="text" name="newItem" id="input-item-list" class="input-item-to-list">
                        <button type="submit" name="list" value="<%= listName %>" class="btn-add">Add</button>
                    </form>
                </section>
                <section class="sec-return-items-to-list">
                    <% for(let i=0; i < newListItem.length; i++) { %>
                        <p class="item-list"><%= newListItem[i] %></p>
                        <button class="btn-delete">Delete</button>
                        <% } %>
                </section>
            </main>

            <section class="sec-create-download-list">
                <div class="buttons-create-download-list">
                    <button class="btn-create-new-list"> Create New List </button>
                    <button class="btn-download-list"> Download List </button>
                </div>
                <div class="field-create-list invisible">
                    <input type="text" name="insert new list name" id="input-new-list-name" class="input-new-list"
                        placeholder="Insert list name...">
                    <button class="btn-create"> Create </button>
                </div>
            </section>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <!-- <script type="module" src="app.js"></script>  -->
</body>

</html>